---
layout: archive
title: "Notes"
permalink: /notes/
author_profile: true
---

<h2> 2020 </h2>

<p>
<a href="{{ site.baseurl }}{% link /files/notes/notes_on_knot_theory.pdf %}">Notes on knot theory and related topics</a>
</p>

<p>
<a href="{{ site.baseurl }}{% link files/notes/bernstein-sato.pdf %}">Notes on Bernstein-Sato polynomials</a>
</p>

<p>
<a href="{{ site.baseurl }}{% link /files/notes/spectral.pdf %}">Notes on Spectral Sequences</a>
</p>

<h2> 2019 </h2>

<a href="{{ site.baseurl }}{% link /files/notes/siegel_zero.pdf %}">Siegel zeros of Dedekind zeta functions</a> 
<p>

<h2> 2018 </h2>

<a href="{{ site.baseurl }}{% link /files/notes/tropical_research.pdf %}">An equivariant characterization of a tropical Grassmannian</a> 
</p>


{% for post in site.notes reversed %}
  {% include note.html %}
{% endfor %}

