---
layout: archive
title: "Notes"
permalink: /notes/
author_profile: true
---

### Notes


Notes on knot theory and related topics (2020) <a href="{{ site.baseurl }}{% link /documents/notes/notes_on_knot_theory.pdf %}">download</a>

Notes on Bernstein-Sato polynomials (2020) <a href="{{ site.baseurl }}{% link documents/notes/bernstein-sato.pdf %}">download</a>

Notes on Spectral Sequences (2020) <a href="{{ site.baseurl }}{% link /documents/notes/spectral.pdf %}">download</a>

Notes on Siegel Zeros of Dedekind Zeta functions (2019) <a href="{{ site.baseurl }}{% link /documents/notes/siegel_zero.pdf %}">download</a>

"An Equivariant Characterization of the Tropical Grassmannian G(2,4) (Laureates Research Project, 2018) <a href="{{ site.baseurl }}{% link /documents/notes/tropical_research.pdf %}">download</a>



{% for post in site.notes reversed %}
  {% include note.html %}
{% endfor %}

