---
layout: archive
title: "Writing"
permalink: /writing/
author_profile: true
---
<b>Notes</b>
<p><font size="4">
Hodge theory and Sobelev spaces (in progress)
<br>
Knot theory and related topics (<a href="{{ site.baseurl }}{% link /files/notes/notes_on_knot_theory.pdf %}">pdf</a>)
<br>
Bernstein-Sato polynomials (<a href="{{ site.baseurl }}{% link files/notes/bernstein-sato.pdf %}">pdf</a>)
<br>
Spectral sequences (<a href="{{ site.baseurl }}{% link /files/notes/spectral.pdf %}">pdf</a>)
<br>
Siegel zeros of Dedekind zeta functions (<a href="{{ site.baseurl }}{% link /files/notes/siegel_zero.pdf %}">pdf</a>) 
</p>
</font>

<b> Miscellanea</b>
<p><font size = "4">
Eliciting latent knowledge: an epistemically honest "SmartVault" (<a href="{{ site.baseurl }}{% link /files/notes/ELK.pdf %}">pdf</a>)
<br>
</font>
<font size = "2">
My submission to the <a href="https://www.alignmentforum.org/posts/QEYWkRoCn4fZxXQAY/prizes-for-elk-proposals">2022 ELK proposal competition</a> hosted by Paul Christiano and Mark Xu of the AI Alignment forum.  
</font>
<br>
<font size = "4">
Investigating sequential n-player duel games (<a href="{    { site.baseurl }}{% link /files/notes/n_player_duel.pdf %}">pdf</a>)
<br>
</font>
<font size = "2">
A write-up I made for a small investigation of Nash equilibria for so-called "duel games."
</font>
<br>
<font size = "4">
Undergraduate research project on tropical grassmannians (<a href="{{ site.baseurl }}{% link /files/notes/tropical_research.pdf %}">pdf</a>)
</p></font>




{% for post in site.notes reversed %}
  {% include note.html %}
{% endfor %}

