---
layout: archive
title: "Writing"
permalink: /writing/
author_profile: true
---
<h2>Notes</h2>
<p><font size="4">
Hodge theory and Sobelev spaces (in progress)
<br>
Knot theory and related topics <a href="{{ site.baseurl }}{% link /files/notes/notes_on_knot_theory.pdf %}">view</a>
<br>
Bernstein-Sato polynomials <a href="{{ site.baseurl }}{% link files/notes/bernstein-sato.pdf %}">view</a>
<br>
Spectral sequences <a href="{{ site.baseurl }}{% link /files/notes/spectral.pdf %}">view</a>
<br>
Siegel zeros of Dedekind zeta functions <a href="{{ site.baseurl }}{% link /files/notes/siegel_zero.pdf %}">view</a> 
</p>
</font>

<h2> Miscellanea</h2>
<p><font size = "4">
Eliciting latent knolwedge: an epistemically honest "SmartVault" <a href="{{ site.baseurl }}{% link /files/notes/ELK.pdf %}">view</a> 
<br>
</font>
<font size = "2">
My submission to the <a href="https://www.alignmentforum.org/posts/QEYWkRoCn4fZxXQAY/prizes-for-elk-proposals">2022 ELK proposal competition</a> hosted by Paul Christiano and Mark Xu of the AI Alignment forum.  
</font>
<br>
<font size = "4">
Undergraduate research project on tropical grassmannians <a href="{{ site.baseurl }}{% link /files/notes/tropical_research.pdf %}">view</a> 
</p></font>




{% for post in site.notes reversed %}
  {% include note.html %}
{% endfor %}

